<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Send everything to the public/ folder
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

Options -Indexes